name: Deploy Node.js for AuditPro backend

on:
  push:
    branches: ['master']

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/audit-app-backend:latest .

      - name: Push image to Docker Hub
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/audit-app-backend:latest

      - name: Deploy on Ubuntu Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ${{ secrets.SERVER_APP_PATH }}
            docker compose pull
            docker stop audit-app-backend || true
            docker rm audit-app-backend || true
            docker compose up -d

          # script: |
          #   docker pull ${{ secrets.DOCKERHUB_USERNAME }}/audit-app-backend:latest
          #   docker stop audit-app-backend || true
          #   docker rm audit-app-backend || true
          #   docker run -d --name audit-app-backend -p 3000:3000 ${{ secrets.DOCKERHUB_USERNAME }}/audit-app-backend:latest
